.header{
    width:100vw;
    /* border: 1px solid red;  */

}
.header__nav{
    display:flex;
    justify-content:space-between;
    padding:5px 30px;
}
.header__nav-img{
    width:180px;
}
.nav-logo{
    width:100%;
}
.header__nav-list{
    display:flex;
    align-items:center;
    margin: 20px 0;
}
.nav-link:not(:last-child){
    margin-right:20px;
}
.nav-link a{
    color: #6d6d6d;
    text-decoration: none;
    font-size:18px;
}

.firstview{
    width:100vw;
    position:relative;
    height:550px;
}
.firstview__img{
    width:60%;
    margin:0 0 0 auto;
}
.firstview__img img{
    width:100%;
}
.firstview__ttl{
    position:absolute;
    top:10%;
    left:20%;
}
.firstview__ttl-main{
    font-size: 67px;
    color:#b11565;
    line-height:100px;
    font-family:"Indie Flower", cursive;
}
.firstview__ttl-main span{
    color:#18a4b4;
}
.firstview__ttl-sab{
    color:#b11565;
    margin:50px 0 10px;
    font-size:23px;
    font-weight:bold;
}
.firstview__ttl-sab span{
    color: #18a4b4;
    margin:0 0;
}
.firstview__ttl-date{
    color: #6d6d6d;
    line-height:25px;
}

#news{
    width:53vw;
    height: 500px;
    margin:100px auto 50px;
}
@media screen and (max-width:1000px){
    #news{
        margin-top:0px;
    }
}
.news__logo{
    color:#b11565;
    font-family: "Indie Flower", cursive;
    font-size:18px;

}
.news__ttl{
    font-size:26px;
    line-height:55px;
    color:#6d6d6d;
    margin-bottom:25px;
}
.news__main{
    border-top:2px solid #d6d6d6;
    border-bottom: 2px solid #d6d6d6;
    padding:16px 0 32px;
    margin-bottom:100px;
}
.news__post-item{
    padding:20px 0;
    border-bottom:1px solid #d6d6d6;
    display:flex;
    align-items:center;

}
.news__post-item--date{
    color: #6d6d6d;
    list-style:none;
    width:30vw;

}
.news__post-item--date span{
    background:#b11565;
    color:#fff;
    padding:2px 10px;
    border-radius:10px;
    margin-left: 20px;
}
@media screen and (max-width:1000px){
    .news__post-item--date {
        font-size:12px;
    }
}
.news__post-item--text{
    width:50vw
}
.news-text{
    text-decoration: none;
    color: #6d6d6d;
    text-align: left;
}

#about{
    background: #f5f5f5;
    height:440px;

}
.about-block{
    width:67%;
    margin: 0 auto;

}
.about__logo{
    color: #b11565;
    font-family: "Indie Flower", cursive;
    font-size: 18px;
    padding:43px 0 8px;
    text-align: center;

}
.about__ttl{
    color: #6d6d6d;
    text-align: center;
    font-size:24px;

}
.about__box{
    display:flex;
    margin-top: 30px;

}
.about__box-text{
    margin:0 auto 0 0;
    color: #6d6d6d;
    line-height:25px;
    font-size:16px;

}
.about__box-text1{
    margin-bottom: 20px
}
.about__box-img {
    margin: 0 0 60px auto;
    width: 40%;


}
.about__box-img img {
    width: 100%;
}

#service{
    height: 600px;
    width:67%;
    margin: 80px auto 0;
}
.service__logo{
    color: #b11565;
    font-family: "Indie Flower", cursive;
    font-size: 18px;
}
.service__ttl{
    font-size: 26px;
    line-height: 55px;
    color: #6d6d6d;
    margin-bottom: 25px;
}
.service__block{
    position:relative;
    height:400px;


}
.service__block-item1{
    background:#b31767;
    width:50%;
    height:100%;
    position:absolute;
}
.item1-img{
    width:150px;
    margin: 25px auto auto;
}
.item1-img img{
    width:100%;
}
.item1{
    color:#fff;

}
.item1-ttl{
    text-align: center;
    margin:16px 0;

}
.item1-text{
    margin:0 55px;
    line-height:25px;
    font-size:16px;

}

.service__block-item2{
    background:#b35b8b;
    position: absolute;
    left:50%;
    width:50%;
    height:50%;
}
.item2-img {
    width: 30%;
    height: 150px;
    margin:25px 10px;
    float:left;
}
.item2-img img {
    width: 100%;
}
.item2 {
    color: #fff;
    margin: 35px 30px 35px auto;
}
.item2-ttl {
    line-height: 25px;
    margin-bottom:16px;
}
.item2-text {
    line-height: 25px;
    font-size: 16px;
}

.service__block-item3 {
    background:#b2889e;
    position: absolute;
    top:50%;
    left: 50%;
    width: 50%;
    height: 50%;
}
.item3-img {
    width: 30%;
    height:150px;
    margin: 25px 10px;
    float: left;
}
.item3-img img {
    width: 100%;
}
.item3 {
    color: #fff;
    margin: 35px 30px 35px auto;
}
.item3-ttl {
    line-height: 25px;
    margin-bottom: 16px;
}
.item3-text {
    line-height: 25px;
    font-size: 16px;
}

#blog{
    background:#f5f5f5;
    height:600px;
}
.blog-block{
    width: 67%;
    margin: 0 auto ;
}
.blog__logo{
    color: #b11565;
    font-family: "Indie Flower", cursive;
    font-size: 18px;
    padding-top:50px;
}
.blog__ttl{
    font-size: 26px;
    line-height: 55px;
    color: #6d6d6d;
    margin-bottom: 20px;
}
.blog__card{
    display: flex;
    justify-content:space-between;

}
.blog__card-content{
    width:30%;
}
.card-img{
    width:100%;
    position:relative;
}
.card-img-comment {
    background: #b11565;
    color: #fff;
    display: inline-block;
    border-radius: 15px 0 0 0;
    padding:10px 20px;
    position: absolute;
}
.card-img img{
    width:100%;
    border-radius: 15px 15px 0 0;
}
.card-box{
    background:#fff;
    color:#6d6d6d;
    padding:20px 20px 25px;
    border-radius: 0 0 15px 15px;

}
.card-ttl{
    line-height: 25px;

}
.card-footer{
    display: flex;
    margin-top: 30px;
    font-size:14px;
}
@media screen and (max-width:1000px){
    .card-footer{
        font-size:10px;
    }
}
.card-footer__date{

}
.card-footer__tag{
    margin:0 0 0 auto;

}
.blog__link{
    margin: 40px auto;
    display: flex;
    justify-content: center;

}
.blog__link-button{
    color:#b11565;
    background: #fff;
    border: 2px solid #b11565;
    border-radius: 30px;
    text-decoration: none;
    padding:20px 50px;
}

#company{
    width:50%;
    height:530px;
    margin:80px auto 0;
}
.company__logo{
    color: #b11565;
    font-family: "Indie Flower", cursive;
    font-size: 18px;
}
.company__ttl{
    font-size: 26px;
        line-height: 55px;
        color: #6d6d6d;
        margin-bottom: 25px;
}
.company__table{
    border-collapse: collapse;
    width:100%;
}
.company__table-row{
    color:#6d6d6d;
    width:100%;
}
.overview-header{
    border:2px solid #dfdfdf ;
    background:#f5f5f5;
    padding:20px ;
    width:30%;
    text-align: left;
}
.overview-text{
    border: 2px solid #dfdfdf;
    padding: 20px;
    width: 70%;
}

.link{
    width:100vw;
    display: flex;
}
.link__img-left{
    width:50vw;
    margin-right:0;
    position: relative;

}
.link__img-left img{
    width:100%;
}
.link__text-left{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:#fff;
    font-size:30px;
    text-decoration: none;
    font-weight:bold;
}
.link__img-right{
    width: 50vw;
    margin-left: 0;
    position: relative;

}
.link__img-right img{
    width:100%;
}
.link__text-right{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;

}

.footer{
    width:100%;
    height:330px;
}
.footer__contact{
    margin: 90px auto;
    text-align: center;
}
#contact{
    color: #6d6d6d;
    text-align: center;
    font-size:20px;
}
.footer__contact-border{
    border-left:2px solid #b71b6b;
    padding: 20px;
    position:relative;
    left:50%;
    margin:30px auto 20px;
}
.footer__contact-link{
}
.footer-link{
    display: block;
    width:250px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    background: linear-gradient(90deg, #f71e8b, #be186c);
    border:1px solid #f71e8b;
    border-radius: 60px;
    box-shadow: 0 10px 0 #840151;
    padding:28px;
    font-size: 18px;
    text-decoration: none;
    position:relative;
}
.footer-link::before{
    content:"";
    position:absolute;
    top:50%;
    left:30px;
    background: url(../img/mailicon.svg) no-repeat;
    background-size: cover;
    width:30px;
    height:30px;
    transform:translateY(-50%);

}
.footer__copyright{
    background:#f5f5f5 ;
    text-align: center;
    margin-top:80px;
    padding: 22px;
}
.copyright-text{
    color: #969696;
    font-size:14px;
}